@{
    ViewData["Title"] = "VistaIndividual";
    var activeSection = ViewBag.ActiveSection;
    var nombresUsuarios = ViewData["NombresUsuarios"] as Dictionary<int, string>;
    var nombresSistemas = ViewData["NombresSistemas"] as Dictionary<int, string>;
    var nombresClientes = ViewData["NombresClientes"] as Dictionary<int, string>;
}
<!-- jQuery y Bootstrap JS (con Popper) y bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="~/css/VistaIndividual.css" />

<!-- Contenedor principal para el formulario Individual-->
<div class="container-fluid mt-3" style="width: 100% ; max-width: 1600px; margin: 0 auto;">
    <div class="row">
        <div class="col-12">
            <!-- Tarjeta con el formulario -->
            <div class="card shadow-sm">
                <div class="btn btn secondary; card-header bg-info text-white">
                    <h5 class="mb-0">Individual  | Ordenes de trabajo </h5>
                </div>
                <div class="card-body">
                    <!-- Inicio del formulario-->
                    <form method="post" action="/Individual/SubmitForm">

                        <div style="font-size: 12px" class="row row-cols-3 g-3">
                            <!-- Primera fila con campos de la orden -->
                            <!-- Campo de Orden -->
                            <div class="col-md-1">
                                <div class="form-group">
                                    <label for="orden">Orden</label>
                                    <input type="text" class="form-control" style="font-size:12px;" id="orden" placeholder="Ingrese el n煤mero" />
                                </div>
                            </div>
                            <!-- Campo de Dependencia -->
                            <div class="col-md-1">
                                <div class="form-group">
                                    <label for="dependencia" class="text-nowrap">Depende de</label>
                                    <input type="text" class="form-control" style="font-size:12px;" id="dependencia" placeholder="Depende de..." />
                                </div>
                            </div>
                            <!-- Bot贸n de b煤squeda -->
                            <div style="font-size: 8px" class="col-md-1 d-flex align-items-end ">

                                
                                <button type="button" class="btn boton-busqueda btn-sm">Buscar</button>

                            </div>
                            <!-- Campo de Fecha de Solicitud -->
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="fechaSolicitud">Fecha de Solicitud</label>
                                    <input type="date" class="form-control" style="font-size:12px;" id="fechaSolicitud" />
                                </div>
                            </div>
                            <!-- Campo de Fecha de Vencimiento -->
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="fechaVencimiento">Fecha de Vencimiento</label>
                                    <input type="date" class="form-control" style="font-size:12px;" id="fechaVencimiento" />
                                </div>
                            </div>
                            <!-- Campo de Estado del Trabajo -->
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="estadoTrabajo">Estado del Trabajo</label>
                                    <select class="form-select" style="font-size:12px;" id="estadoTrabajo">
                                        <option>...</option>
                                        <option>Pendiente</option>
                                        <option>Entregado</option>
                                        <option>En desarrollo</option>
                                        <option>Terminado</option>
                                        <option>En produccion</option>
                                        <option>Anulada</option>
                                        <option>Facturada</option>
                                        <option>Bonificada</option>
                                        <option>Presupuesto enviado al cliente</option>
                                        <option>Prueba realizada OK</option>
                                        <option>Para revisar problemas en las pruebas</option>
                                        <option>Presupuesto aprobado</option>
                                        <option>Presupuesto asignado</option>
                                        <option>Presupuesto no aprobado</option>
                                        <option>Facturada(incluida abono)</option>
                                        <option>En proceso de presupuesto</option>
                                        <option>Presupuesto facturado</option>
                                        <option>Incluida en version</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- Segunda fila con campos: Cliente, Sistema, Proyecto y bot贸n de b煤squeda -->
                        <div style="font-size: 12px" class="row row-cols-3 g-3">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="cliente">Cliente</label>
                                    <select class="form-select" style="font-size:12px;" id="cliente">
                                        <!-- Opciones(se hace con la db) -->

                                        <option>...</option>

                                        @if (nombresClientes != null)
                                        {
                                            foreach (var cliente in nombresClientes)
                                            {
                                                <option value="@cliente.Key">@cliente.Value</option>
                                            }
                                        }

                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="sistema">Sistema</label>
                                    <select class="form-select" style="font-size:12px;" id="sistema">
                                        <!-- Opciones(se hace con la db) -->

                                        <option>...</option>

                                        @if (nombresSistemas != null)
                                        {
                                            foreach (var sistema in nombresSistemas)
                                            {
                                                <option value="@sistema.Key">@sistema.Value</option>
                                            }
                                        }

                                    </select>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="proyecto">Proyecto</label>
                                    <input type="text" class="form-control" style="font-size:12px;" id="proyecto" placeholder="Ingrese proyecto" />
                                </div>
                            </div>
                            @* <div style="font-size: 8px" class="col-md-1 d-flex align-items-end">

                            <label>@* &nbsp; </label>
                            <button type="button" class="btn boton"></button>  *@
                        </div>

                        <!-- Tercera fila con Usuario Responsable, Usuario Solicitante y M贸dulo/Pantalla -->
                        <div style="font-size: 12px" class="row row-cols-3 g-3">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="usuarioResp">Usuario Responsable</label>
                                    <select class="form-select" style="font-size:12px;" id="usuarioResp">
                                        <!-- Opciones(se hace con la db) -->

                                        <option>...</option>

                                        @if (nombresClientes != null)
                                        {
                                            foreach (var cliente in nombresClientes)
                                            {
                                                <option value="@cliente.Key">@cliente.Value</option>
                                            }
                                        }

                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="usuarioSoli">Usuario Solicitante</label>
                                    <select class="form-select" style="font-size:12px;" id="usuarioSoli">
                                        <!-- Opciones(se hace con la db) -->

                                        <option>...</option>

                                        @if (nombresSistemas != null)
                                        {
                                            foreach (var sistema in nombresSistemas)
                                            {
                                                <option value="@sistema.Key">@sistema.Value</option>
                                            }
                                        }

                                    </select>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="moduloPantalla">M贸dulo/Pantalla</label>
                                    <input type="text" class="form-control" style="font-size:12px;" id="moduloPantalla" placeholder="Ingrese Modulo/Pantalla" />
                                </div>
                            </div>
                            @* <div style="font-size: 8px" class="col-md-1 d-flex align-items-end">

                            <label>@* &nbsp; </label>
                            <button type="button" class="btn boton"></button>  *@
                        </div>

                        <!-- Cuarta fila con Asunto y Solicitado Por -->
                        <div style="font-size: 12px" class="row row-cols-3 g-3">
                            <div class="col-md-7">
                                <div class="form-group">
                                    <label for="asunto">Asunto</label>
                                    <input type="text" class="form-control" style="font-size:12px;" id="asunto" placeholder="Ingrese el asunto" />
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="solicitadoPor">Solicitado Por</label>
                                    <select class="form-select" style="font-size:12px;" id="Solicitante">
                                        <!-- Opciones(se hace con la db) -->
                                        <option>...</option>
                                        @if (nombresUsuarios != null)
                                        {
                                            foreach (var usuario in nombresUsuarios)
                                            {
                                                <option value="@usuario.Key">@usuario.Value</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- Quinta fila con Horas Facturables, % de Avance, Horas Consumidas, Horas Avances, Nro Implementaci贸n y Checkboxes -->
                        <div style="font-size: 12px" class="row row-cols-3 g-3">

                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="horasFacturables" class="text-nowrap">Hs. Facturables</label>
                                    <input type="number" class="form-control" style="font-size:12px;" id="horasFacturables" placeholder="0" />
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <label for="porcentajeAvance" class="text-nowrap">% Avance</label>
                                    <input type="number" class="form-control" style="font-size:12px;" id="porcentajeAvance" placeholder="0" min="0" max="100" />
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <label for="horasConsumidas" class="text-nowrap">Hs. Consumo</label>
                                    <input type="number" class="form-control" style="font-size:12px;" id="horasConsumidas" placeholder="0" />
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <label for="horasAvances" class="text-nowrap">Hs. Avances</label>
                                    <input type="number" class="form-control" style="font-size:12px;" id="horasAvances" placeholder="0" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="NroOtImp" class="text-nowrap">Nro Implementaci贸n</label>
                                    <input type="number" class="form-control" style="font-size:12px;" id="NroOtImp" placeholder="0" />
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col-md-4 d-flex  align-items-center">
                                    <div class="form-check me-3">
                                        <!-- Este div contiene el primer checkbox -->
                                        <input type="checkbox" class="form-check-input" id="premioAvance">
                                        <label class="form-check-label text-nowrap" for="premioAvance">Premio por Avance</label>
                                    </div>
                                    <div class="form-check">
                                        <!-- Este div contiene el segundo checkbox -->
                                        <input type="checkbox" class="form-check-input" id="alcanceIndefinido">
                                        <label class="form-check-label text-nowrap" for="alcanceIndefinido">Alcance Indefinido</label>
                                    </div>
                                </div>
                            </div>

                        </div>
                         <!--Secci贸n de descripci贸n y accordion-->
                            <!-- Segunda Tarjeta -->
                            <div class="card shadow-sm mb-3">
                                <div class="card-body">
                                    <!-- Acorde贸n de Secciones -->
                                    <div id="accordion" class="mt-1">

                                        <!-- Secci贸n de Descripci贸n -->
                                        <div class="card">
                                            <div class="card-header" id="headingDescripcion">
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseDescripcion" aria-expanded="true" aria-controls="collapseDescripcion" style="color:white;">
                                                        Descripci贸n
                                                    </button>
                                                </h5>
                                            </div>
                                            <div id="collapseDescripcion" class="collapse show" aria-labelledby="headingDescripcion" data-parent="#accordion">
                                                <div class="card-body">
                                                    <!-- Barra de herramientas de formato de texto -->
                                                    <div id="descripcion" class="tab-pane fade show active">
                                                        <div class="toolbar">
                                                            <button class="toolbar-btn"><i class="fas fa-undo"></i></button>
                                                            <button class="toolbar-btn"><i class="fas fa-redo"></i></button>
                                                            <select class="toolbar-select">
                                                                <option value="sans-serif">Sans Serif</option>
                                                                <option value="serif">Serif</option>
                                                                <option value="monospace">Monospace</option>
                                                            </select>
                                                            <button class="toolbar-btn"><i class="fas fa-bold"></i></button>
                                                            <button class="toolbar-btn"><i class="fas fa-italic"></i></button>
                                                            <button class="toolbar-btn"><i class="fas fa-underline"></i></button>
                                                            <button class="toolbar-btn"><i class="fas fa-align-left"></i></button>
                                                            <button class="toolbar-btn"><i class="fas fa-align-center"></i></button>
                                                            <button class="toolbar-btn"><i class="fas fa-align-right"></i></button>
                                                            <button class="toolbar-btn"><i class="fas fa-list-ul"></i></button>
                                                            <button class="toolbar-btn"><i class="fas fa-list-ol"></i></button>
                                                        </div>
                                                    </div>
                                                    <textarea class="form-control" rows="3" placeholder="Escribe la descripci贸n aqu铆..."></textarea>
                                                    <small class="form-text text-muted">Incluye una descripci贸n general del trabajo o la tarea.</small>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Secci贸n de Avances de Trabajo -->
                                        <div class="card">
                                            <div class="card-header" id="headingAvances">
                                                <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseAvances" aria-expanded="false" aria-controls="collapseAvances" style="color:white;">
                                                        Avances de Trabajo
                                                    </button>
                                                </h5>
                                            </div>
                                            <div id="collapseAvances" class="collapse" aria-labelledby="headingAvances" data-parent="#accordion">
                                                <div class="card-body">
                                                    <div class="table-responsive">
                                                        <table class="table table-bordered">
                                                            <thead>
                                                                <tr>
                                                                    <th>Avance Trabajo</th>
                                                                    <th>Descripci贸n</th>
                                                                    <th>Tipo Avance</th>
                                                                    <th>Fecha</th>
                                                                    <th>Usuario</th>
                                                                    <th>Tiempo Insumido(hs)</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>1</td>
                                                                    <td>Completado el an谩lisis inicial</td>
                                                                    <td>Desarrollo</td>
                                                                    <td>6/11/2024 </td>
                                                                    <td>ERUIZ</td>
                                                                    <td>4,0</td>
                                                                </tr>
                                                               
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <button class="btn boton btn-sm">Agregar</button>
                                                    <button class="btn boton btn-sm">Modificar</button>
                                                    <button class="btn btn-secondary btn-sm">Grabar</button>
                                                    <button class="btn btn-danger btn-sm">Cancelar</button>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Secci贸n de Puesta en Producci贸n -->
                                        <div class="card">
                                            <div class="card-header" id="headingProduccion">
                                                <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseProduccion" aria-expanded="false" aria-controls="collapseProduccion" style="color:white;">
                                                        Puesta en Producci贸n
                                                    </button>
                                                </h5>
                                            </div>
                                            <div id="collapseProduccion" class="collapse" aria-labelledby="headingProduccion" data-parent="#accordion">
                                                <div class="card-body">
                                                    <select class="form-select mb-3">
                                                        <option>Seleccionar tipo de modificaci贸n...</option>
                                                        <option value="formulario">Formulario</option>
                                                        <option value="baseDatos">Base de Datos</option>
                                                    </select>
                                                    <div id="descripcion" class="tab-pane fade show active">
                                                        <div class="toolbar">
                                                            <button class="toolbar-btn"><i class="fas fa-undo"></i></button>
                                                            <button class="toolbar-btn"><i class="fas fa-redo"></i></button>
                                                            <select class="toolbar-select">
                                                                <option value="sans-serif">Sans Serif</option>
                                                                <option value="serif">Serif</option>
                                                                <option value="monospace">Monospace</option>
                                                            </select>
                                                            <button class="toolbar-btn"><i class="fas fa-bold"></i></button>
                                                            <button class="toolbar-btn"><i class="fas fa-italic"></i></button>
                                                            <button class="toolbar-btn"><i class="fas fa-underline"></i></button>
                                                            <button class="toolbar-btn"><i class="fas fa-align-left"></i></button>
                                                            <button class="toolbar-btn"><i class="fas fa-align-center"></i></button>
                                                            <button class="toolbar-btn"><i class="fas fa-align-right"></i></button>
                                                            <button class="toolbar-btn"><i class="fas fa-list-ul"></i></button>
                                                            <button class="toolbar-btn"><i class="fas fa-list-ol"></i></button>
                                                        </div>
                                                    </div>
                                                    <textarea class="form-control" rows="3" placeholder="..."></textarea>
                                                    <small class="form-text text-muted">Selecciona el tipo de modificaci贸n que se har谩 en producci贸n.</small>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Secci贸n de Archivo Adjunto -->
                                        <div class="card">
                                            <div class="card-header" id="headingArchivo">
                                                <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseArchivo" aria-expanded="false" aria-controls="collapseArchivo" style="color:white;">
                                                        Archivo Adjunto
                                                    </button>
                                                </h5>
                                            </div>
                                            <div id="collapseArchivo" class="collapse" aria-labelledby="headingArchivo" data-parent="#accordion">
                                            <div class="table-responsive">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>N煤mero</th>
                                                            <th>Nombre</th>
                                                            <th>Fecha de Alta</th>
                                                            <th>Usuario Alta</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>17658.docx</td>
                                                            <td>6/11/2024 </td>
                                                            <td>ERUIZ</td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                                <div class="card-body">
                                                    @* <input type="file" class="form-control mb-2"> *@
                                                    <form asp-action="UploadFiles" enctype="multipart/form-data" method="post">
                                                        <div>
                                                            <label for="files">Selecciona archivos:</label>
                                                            <input type="file" id="files" name="files" multiple />
                                                        </div>
                                                        <button class="btn boton btn-sm" type="submit">Subir Archivos</button>
                                                    </form>
                                                    <button class="btn boton btn-sm">Copiar</button>
                                                    <button class="btn boton btn-sm">Adjuntar</button>
                                                    <button class="btn btn-danger btn-sm">Quitar</button>
                                                    <small class="form-text text-muted">Carga o elimina un archivo relacionado.</small>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Secci贸n de Historial de Estado -->
                                        <div class="card">
                                            <div class="card-header" id="headingHistorial">
                                                <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseHistorial" aria-expanded="false" aria-controls="collapseHistorial" style="color:white;">
                                                        Historial de Estado
                                                    </button>
                                                </h5>
                                            </div>
                                            <div id="collapseHistorial" class="collapse" aria-labelledby="headingHistorial" data-parent="#accordion">
                                            <div class="table-responsive">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Secuencia</th>
                                                            <th>Estado del Trabajo</th>
                                                            <th>Fecha</th>
                                                            <th>Hora</th>
                                                            <th>Usuario</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>En desarrollo</td>
                                                            <td>6/11/2024 </td>
                                                            <td>10:07</td>
                                                            <td>ERUIZ</td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                                <div class="card-body">
                                                   
                                                    <button class="btn boton btn-sm">Agregar Estado</button>
                                                    <button class="btn boton btn-sm">Modificar Estado</button>
                                                    <small class="form-text text-muted">Mant茅n un registro de los estados por los que ha pasado esta tarea.</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        
                        <!-- Botones de acciones -->
                        <div class="row mt-2">
                            <div class="col-md-12 d-flex justify-content-between align-items-center" style="font-size:12px;">

                                <button class="btn  boton ">Imprimir</button>
                                <button class="btn boton">Ver Documentaci贸n Digital</button>

                                <!-- Agrupaci贸n de otros botones -->
                                <div class="grupo-botones" style="font-size:12px;">
                                    <button class="btn boton">Copiar Orden</button>
                                    <button class="btn boton">Enviar Orden</button>
                                    <button class="btn boton">Agregar</button>
                                    <button class="btn boton">Modificar</button>
                                    <button class="btn boton">Grabar</button>
                                    <button class="btn boton-cancelar">Cancelar</button> <!-- Estilo diferente para cancelar -->
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>