@{
    ViewData["Title"] = "Gestión de Órdenes";

    var nombresUsuarios = ViewData["NombresUsuarios"] as Dictionary<int, string>;

    var nombresSistemas = ViewData["NombresSistemas"] as Dictionary<int, string>;

    var nombresClientes = ViewData["NombresClientes"] as Dictionary<int, string>;

    var nombresProyectos = ViewData["NombresProyectos"] as Dictionary<int, string>;

    var SistemasPorCliente = ViewData["SistemasPorCliente"] as Dictionary<int, string>;

    var OrdenesBuscadas = ViewData["Ordenes"] as List<Dictionary<string, object>>;
}
<link href="~/css/VistaOrden.css" rel="stylesheet" />
<script src="~/js/site.js"></script>


<input type="hidden" id="nombresSistemas" value='@Html.Raw(Json.Serialize(nombresSistemas))' />


<div class="container-fluid mt-3" style=" margin: 0 auto;">
    <div class="row" style="padding-top: 10px ">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="btn btn secondary; card-header bg-info text-white">
                    <h5 class="mb-0">Órdenes de Trabajo</h5>
                </div>

              <div class="card-body px-3 pt-3" style="font-size: 12px;">

                    <ul class="nav-tabs">
                        <li><button class="tab-btn active">Cliente - Sistema - Fecha Solicitud y Vencimiento</button></li>
                   
                    </ul>
                </div>

                <div class="container">
                    <form method="post" action="@Url.Action("Vistas", "Buscar")">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="row row-cols-6">
                                  <div class="col-md-2" style="font-size: 13px; padding-top: 10px; padding-left: 20px">
                                        <div class="form-group">
                                            <label for="cliente">Cliente</label>
                                            <select class="form-control " style="font-size:12px; height: 38px;" id="Cliente" name="Cliente">
                                                <option value="-1">...</option>
                                                @if (nombresClientes != null)
                                                {
                                                    foreach (var cliente in nombresClientes)

                                                    {
                                                        @if (nombresClientes != null)
                                                        {
                                                           
                                                                    var seleccionado = ViewBag.Cliente != null && (int)ViewBag.Cliente == cliente.Key;
                                                                    if (seleccionado)
                                                                    {
                                                                        <option value="@cliente.Key" selected>@cliente.Value</option>
                                                                    }
                                                                    else
                                                                    {
                                                                        <option value="@cliente.Key">@cliente.Value</option>
                                                                    }
                                                              
                                                        }

                                                    }

                                                }
                                            </select>
                                        </div>
                                    </div>


                                    <div class="col-md-2" style="font-size: 13px; padding-top: 10px">
                                        <div class="form-group">
                                            <label for="Sistema">Sistema</label>
                                            <select class="form-control" style="font-size:12px; height: 38px;" id="Sistema" name="Sistema">

                                                @if (nombresSistemas != null)

                                                {
                                                <option value="-1">...</option>

                                                    @foreach (var sistema in nombresSistemas)
                                                    {
                                                        var seleccionado = ViewBag.Sistema != null && (int)ViewBag.Sistema == sistema.Key;
                                                        if (seleccionado)
                                                        {
                                                            <option value="@sistema.Key" selected>@sistema.Value</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@sistema.Key">@sistema.Value</option>
                                                        }
                                                    }

                                                }
                                            </select>
                                        </div>
                                    </div>



                                    <div class="col-md-3" style="font-size: 13px; padding-top: 10px">
                                        <div class="form-group">
                                            <label for="Proyecto">Proyecto</label>
                                            <select class="form-control" style="font-size:12px; height: 38px;" id="Proyecto" name="Proyecto">

                                                @if (nombresProyectos != null)

                                                {
                                                <option value="-1">...</option>

                                                    foreach (var proyecto in nombresProyectos)

                                                    {
                                                        var seleccionado = ViewBag.Proyecto != null && (int)ViewBag.Proyecto == proyecto.Key;
                                                        if (seleccionado)
                                                        {
                                                            <option value="@proyecto.Key" selected>@proyecto.Value</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@proyecto.Key">@proyecto.Value</option>
                                                        }
                                                    }

                                                }
                                            </select>
                                        </div>
                                    </div>


                                    <div class="col-md-2" style="font-size: 13px; padding-top: 10px" ">
                                        <div class="form-group">
                                            <label for="usuarioResponsable">Solicitante</label>
                                            <select class="form-control" style="font-size:12px; height: 38px;" id="usuarioSolicitante" name="usuarioSolicitante">

                                                @if (nombresUsuarios != null)

                                                {
                                                    <option value="">...</option>

                                                    foreach (var usuario in nombresUsuarios)

                                                    {
                                                            var seleccionado = ViewBag.UsuarioSolicitante != null && ViewBag.UsuarioSolicitante.ToString() == usuario.Value;
                                                            if (seleccionado)
                                                            {
                                                                            <option value="@usuario.Value" selected>@usuario.Value</option>
                                                            }
                                                            else
                                                            {
                                                                            <option value="@usuario.Value">@usuario.Value</option>
                                                            }
                                                    }

                                                }
                                            </select>
                                        </div>
                                    </div>


                                    <div class="col-md-2" style="font-size: 13px; height: 38px; padding-top: 10px" ">
                                        <div class="form-group">
                                            <label for="solicitadoPor">Solicitado Por</label>
                                            <select class="form-control" style="font-size:12px; height: 38px;" id="Solicitante" name="Solicitante">

                                                @if (nombresUsuarios != null)

                                                {
                                                    <option value="">...</option>
                                                    foreach (var usuario in nombresUsuarios)

                                                    {
                                                        var seleccionado = ViewBag.Solicitante != null && ViewBag.Solicitante.ToString() == usuario.Value;
                                                        if (seleccionado)
                                                        {
                                                            <option value="@usuario.Value" selected>@usuario.Value</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@usuario.Value">@usuario.Value</option>
                                                        }
                                                    }

                                                }
                                            </select>
                                        </div>
                                    </div>

                                </div>

                                <div class="row row-cols-5 g-5">

                                    <div class="col-md-2" style="font-size: 13px; padding-left: 20px">
                                        <div class="form-group">
                                            <label for="Responsable">Responsable</label>
                                            <select class="form-control" style="font-size:12px; height: 38px;" id="Responsable" name="Responsable">

                                                @if (nombresUsuarios != null)

                                                {
                                                <option value="">...</option>
                                                    foreach (var usuario in nombresUsuarios)

                                                    {
                                                        var seleccionado = ViewBag.Responsable != null && ViewBag.Responsable.ToString() == usuario.Value;
                                                        if (seleccionado)
                                                        {
                                                            <option value="@usuario.Value" selected>@usuario.Value</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@usuario.Value">@usuario.Value</option>
                                                        }
                                                    }

                                                }
                                            </select>
                                        </div>
                                    </div>
                                   
                                    <div class="col-md-2" style="font-size: 13px; ">
                                        <div class="form-group">
                                            <label for="estado">Estado</label>


                                            <select class="form-control" style="font-size:12px; height: 38px;" id="estadoTrabajo" name="estadoTrabajo">
                                                <option value="0">...</option>
                                                <option value="1">Pendiente</option>
                                                <option value="2">Entregado</option>
                                                <option value="3">En desarrollo</option>
                                                <option value="4">Terminado</option>
                                                <option value="5">En produccion</option>
                                                <option value="6">Anulada</option>
                                                <option value="7">Facturada</option>
                                                <option value="8">Bonificada</option>
                                                <option value="9">Presupuesto enviado al cliente</option>
                                                <option value="10">Prueba realizada OK</option>
                                                <option value="11">Para revisar problemas en las pruebas</option>
                                                <option value="12">Presupuesto aprobado</option>
                                                <option value="13">Presupuesto asignado</option>
                                                <option value="14">Presupuesto no aprobado</option>
                                                <option value="15">Facturada(incluida abono)</option>
                                                <option value="16">En proceso de presupuesto</option>
                                                <option value="17">Presupuesto facturado</option>
                                                <option value="18">Incluida en version</option>
                                            </select>

                                        </div>
                                    </div>
                                  <div class="col-md-2" style="font-size: 13px">
                                        <div class="form-group ">
                                            <label for="moduloPantalla">Módulo / Pantalla</label>
                                            <input type="text" class="form-control form-control-lg" style="font-size: 12px ;height: 38px;" id="moduloPantalla" name="modulo" placeholder="Ingrese módulo/pantalla" value="@(ViewBag.Modulo ?? "")" />

                                        </div>
                                    </div>

                                    <div class="col-md-5" style="font-size: 13px">
                                        <div class="form-group ">
                                            <label for="mod">Mod. a la Base de Datos</label>
                                            <input type="text" class="form-control form-control-lg" style="font-size: 12px ;height: 38px;" id="mod" name="mod" placeholder="" value="@(ViewBag.Mod ?? "")" />
                                        </div>
                                    </div>

                              
                                </div>
                                


                                <div class="row row-cols-3 g-3">
                                    <div class="col-md-3" style="font-size: 13px; padding-left: 20px">
                                        <div class="form-group">
                                            <label for="asunto">Asunto</label>
                                            <input type="text" class="form-control" style="font-size: 12px; height: 38px;"
                                                   id="asunto" name="asunto" placeholder="Ingrese el asunto" value="@(ViewBag.Asunto ?? "")" />
                                        </div>
                                    </div>


                                    <div class="col-md-2" style="font-size: 13px">
                                        <label for="fechaSolicitudDesde"> Fecha solicitud Desde</label>
                                        <input type="date" class="form-control" id="fechaSolicitudDesde" name="fechaSolicitudDesde"
                                               value="@(ViewBag.FechaSolicitudDesde ?? "")" />
                                    </div>

                                    <div class="col-sm-2 col-md-2" style="font-size: 13px">
                                        <label for="fechaSolicitudHasta"> Fecha solicitud Hasta</label>
                                        <input type="date" class="form-control" id="fechaSolicitudHasta" name="fechaSolicitudHasta"
                                               value="@(ViewBag.FechaSolicitudHasta ?? "")" />
                                    </div>

                                    <div class="col-md-2" style="font-size: 13px">
                                        <label for="fechaVencimientoDesde"> Fecha vencimiento Desde</label>
                                        <input type="date" class="form-control" id="fechaVencimientoDesde" name="fechaVencimientoDesde"
                                               value="@(ViewBag.FechaVencimientoDesde ?? "")" />
                                    </div>

                                    <div class="col-sm-2 col-md-2" style="font-size: 13px">
                                        <label for="fechaVencimientoHasta">Fecha vencimiento Hasta</label>
                                        <input type="date" class="form-control" id="fechaVencimientoHasta" name="fechaVencimientoHasta"
                                               value="@(ViewBag.FechaVencimientoHasta ?? "")" />
                                    </div>


                            </div>
                        </div>
                    

                    </form>

                    <div class="container mt-3">
                        <div class="table-responsive" style="max-height: 300px; overflow-y: auto; border: 1px solid #dee2e6; ">
                            <table class="table table-bordered table-striped mb-0">
                                <thead class="table-primary" style="border-collapse: collapse; position: sticky; top: 0; z-index: 1;">
                                    <tr class="text-nowrap text-center">
                                        <th scope="col">Modificar</th>
                                        @*  <th scope="col">N°</th> *@
                                        <th scope="col">OT N°</th>
                                        <th scope="col">Depende De</th>
                                        <th scope="col">Ot Impl.</th>
                                        <th scope="col">Fecha Solicitud</th>
                                        <th scope="col" style="min-width: 200px;">Clientes</th>
                                        <th scope="col" style="min-width: 200px;">Sistemas</th>
                                        <th scope="col" style="min-width: 200px;">Proyectos</th>
                                        <th scope="col">Responsable</th>
                                        <th scope="col" style="min-width: 150px;">Estado</th>
                                        <th scope="col" style="min-width: 300px;">Modulo</th>
                                        <th scope="col" style="min-width: 400px;">Asunto</th>
                                        <th scope="col">Porcentaje Avance</th>
                                        <th scope="col">Horas Estimadas</th>
                                        <th scope="col">Horas Consumidas</th>
                                        <th scope="col">Total Horas Avance</th>
                                        <th scope="col">Prioridad</th>
                                        <th scope="col">Proyecto</th>
                                        <th scope="col">Premio por Avance</th>
                                        <th scope="col">Alcance Indefinido</th>
                                        <th scope="col">Fecha Vencimiento</th>
                                        <th scope="col">Clientes y Usuarios</th>
                                    </tr>
                                </thead>
                                <tbody class="table-grid" style="height: 400px;">
                                    @if (OrdenesBuscadas != null && OrdenesBuscadas.Any())

                                    {

                                        int num = 1;

                                        foreach (var orden in OrdenesBuscadas)

                                        {
                                      <tr style="font-size: 14px;">
                                                <td>
                                                    <a href="@Url.Action("VistaIndividualModificar", "ABM", new { orden = orden["NroOrdenTrabajo"] })" title="Editar">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                             class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75
                                                                 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0
                                                                  .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                                                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0
                                                                 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0
                                                                 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0
                                                                 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                                                        </svg>
                                                    </a>
                                                </td>
                                        <td>@orden["NroOrdenTrabajo"]</td>
                                        
                                        <td>@orden["DependeDe"]</td>
                                        <td>@orden["NroOtImplementacion"]</td>
                                        <td>@orden["FechaSolicitud"]</td>
                                        <td>@orden["Clientes"]</td>
                                        <td>@orden["Sistemas"]</td>
                                        <td>@orden["Proyectos"]</td>
                                        <td>@orden["UserIDResponsable"]</td>
                                        <td>@orden["Estados_Trabajo"]</td>
                                        <td>@orden["Modulo"]</td>
                                        <td>@orden["Asunto"]</td>
                                        <td>@orden["PorcentajeAvance"]</td>
                                        <td>@orden["CantidadHorasEstimadas"]</td>
                                        <td>@orden["CantidadHorasConsumidas"]</td>
                                        <td>@orden["TotalHorasAvances"]</td>
                                        <td>@orden["Prioridad"]</td>
                                        <td>@orden["Proyecto"]</td>
                                        <td>@orden["PremioPorAvance"]</td>
                                        <td>@orden["AlcanceIndefinido"]</td>
                                        <td>@orden["FechaVencimiento"]</td>
                                        <td>@orden["Clientes_Usuarios"]</td>
                                      </tr>
                                            num++;

                                        }

                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="22" class="text-danger ">
                                                No existe una OT con esos criterios de búsqueda.
                                            </td>
                                        </tr>
                                    }
                                 
                                    </tbody>
                            </table>
                        </div>
                    </div>




                    <div class="container-centered">
                        <div class="row justify-content-center" style=" padding-bottom: 15px">
                            <div class="" style="width:33%">
                                <div class="form-group" style="padding-left: 0px">
                                    <label for="cantidadOT">Cantidad OT</label>
                                    <input type="number" class="form-control" style="font-size: 12px" id="cantidadOT" placeholder="" readonly value="@OrdenesBuscadas?.FirstOrDefault()?["CantidadOrdenesTrabajo"]" />
                                </div>
                            </div>

                            <div class="" style="width:33%">
                                <div class="form-group">
                                    <label for="totalHorasEstimadas">Total de horas estimadas</label>
                                    <input type="number" class="form-control " style="font-size: 12px" id="totalHorasEstimadas" placeholder="" readonly value="@OrdenesBuscadas?.FirstOrDefault()?["TotalHorasEstimadas"]" />
                                </div>
                            </div>

                            <div class="" style="width: 33%; ">
                                <div class="form-group" style="padding-right: 5px">
                                    <label for="totalHorasAvances">Total de horas avances</label>
                                    <input type="text" class="form-control" style="font-size: 12px" id="totalHorasAvances" placeholder="" readonly value="@OrdenesBuscadas?.FirstOrDefault()?["TotalHorasAvanzadas"]" />
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-md-12 d-flex justify-content-between align-items-center" style="font-size:14px;">
                                    <div class="grupo-botones d-flex" style="font-size:14px; padding-left:740px;">
                                        <button id="btnBuscar" type="submit" class="btn boton me-2" style="width: 130px; font-size: 15px;">
                                                <span id="spinnerBuscar" class="spinner-border spinner-border-sm me-2 d-none" role="status" aria-hidden="true"></span>
                                                    Buscar
                                        </button>
                                       <button type="button" id="btnLimpiar" class="btn boton" style="width: 130px; font-size: 15px;">
                                                         Limpiar
                                        </button>

                                    </div>
                                </div>
                            </div>

                            <script>
                                     document.getElementById("btnBuscar").addEventListener("click", function () {
                                     const spinner = document.getElementById("spinnerBuscar");
                                      spinner.classList.remove("d-none");
                                        });

                                   document.getElementById("btnLimpiar").addEventListener("click", function () {
                                    const form = document.querySelector("form");
                                    if (form) {
                                        form.reset(); // Limpia todos los campos del formulario
                                    }

                                    // Si usás selects con valores dinámicos, podés limpiar así también:
                                    const selects = form.querySelectorAll("select");
                                    selects.forEach(select => select.selectedIndex = 0);
                                });
</script>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
